<?php 
function custom_title () {
    return "<%= currentClass %>";
}

function rf_topbar () {
    return array (
        'url' => '/docs/dashboard/',
        'title' => 'RazorFlow Documentation'
    );
}

function extra_scripts () {
  return array(
    'vendor/kendo.custom.min.js',
    'vendor/prism.min.js',
    'js/rfDocs.js'
  );
}

function extra_styles () {
  return array(
    'vendor/kendo.common.min.css',
    'vendor/prism.css',
    'vendor/kendo.bootstrap.min.css'
  );
}

require $_SERVER['DOCUMENT_ROOT']."/layout/header.php";
?>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul id="docTree">
                    <%- articleNav %>
                    <%- apiNav %>
                </ul>
            </div>
            <div class="col-md-9">
                <% 
                var classNode = tree.findNodeByClassName(currentClass);
                if(currentClass != 'index' && (classNode.access && classNode.access.name !== 'private')) { 
                %>
                    <%- render('class.ejs', {tree: tree, item: tree.findNodeByClassName(currentClass)}) %>
            <% } else { %>
                <%- render('index.ejs', {}) %>
            <% } %>
            </div>
        </div>
    </div>
<script type="text/javascript">
window.doc_is_class = true;
window.doc_id = "<%= currentClass %>";
</script>
<?php
require $_SERVER['DOCUMENT_ROOT']."/layout/footer.php";

