<?php 
function custom_title () {
    return "<%= title %>";
}

function rf_topbar () {
    return array (
        'url' => '/docs/dashboard/',
        'title' => 'RazorFlow Documentation'
    );
}


function extra_scripts () {
  return array(
    'vendor/kendo.custom.min.js',
    'vendor/prism.min.js',
    'js/rfDocs.js'
  );
}

function extra_styles () {
  return array(
    'vendor/kendo.common.min.css',
    'vendor/prism.css',
    'vendor/kendo.bootstrap.min.css'
  );
}

require $_SERVER['DOCUMENT_ROOT']."/layout/header.php";
?>
<div class="container">
  <div class="row">
    <ol class="breadcrumb rfTocBreadcrumb">
      <%- breadcrumb %>
    </ol>
  </div>
    <div class="row">
        <div class="col-md-3">
            <ul id="docTree">
                <%- articleNav %>
                <%- apiNav %>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="docContent">
              <h1> <%= title %> </h1>
                <%- content %>
            </div>
            <div class="links">
              <% if(prev) { %>
                <a class="btn btn-primary pull-left" href="<%= prev.path %>">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <%= prev.title %>
                </a>
              <% } %>
              <% if(next) { %>
                <a class="btn btn-primary pull-right" href="<%= next.path %>">
                  <%= next.title %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              <% } %>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
window.doc_id = "<%= id %>";
</script>

<?php
require $_SERVER['DOCUMENT_ROOT']."/layout/footer.php";

