<%= title %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> <%= title %> </h1>
            <ol class="breadcrumb">
                <%- breadcrumb %>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="docTree">
                <%- articleNav %>
                <li><a href="/docs/js/api/index.html">Razorflow API Reference</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="docContent">
                <%- content %>
            </div>
            <div class="links">
              <% if(prev) { %>
                <a class="btn btn-primary pull-left" href="<%= prev.path %>">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <%= prev.title %>
                </a>
              <% } %>
              <% if(next) { %>
                <a class="btn btn-primary pull-right" href="<%= next.path %>">
                  <%= next.title %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              <% } %>
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(function(){
    window.tv = $("#docTree").kendoTreeView ().data('kendoTreeView');
    var root = window.tv.findByText("<%= title %>");
    window.tv.select(root);
    var rootParent = window.tv.parent(root);
    
    for(var i = 0; i < 20; i ++) {if (rootParent.length == 0) { break; } root = rootParent; window.tv.expand(root); rootParent = window.tv.parent(root); }
    $('pre').addClass('language-javascript');
    Prism.highlightAll();
    $('.zoom').on('click', function() {
      $(this).parent().find('.zoommodal').modal('show');
    })
    $('.live').on('click', function() {
      $(this).parent().find('.livemodal').modal('show');
    })

  })
</script>